.form {
  display: grid;
  row-gap: 1rem;
}

.name {
  font-size: 4rem;
  text-align: center;
}

.submit {
  font-size: 3rem;
  border-radius: 2rem;
  transition: all.4s;
  background-color: rgb(200 190 5/80%);
}

.submit:hover {
  font-size: 5rem;
  background-color: rgb(200 190 5/100%);
}
